# ignores for virtualenv folders
bin/
include/
lib/
share/
etc/
env/

# ignore for python cache files
__pycache__

# ignore for vscode
.vscode

# misc
data.json
supermarkets*
smallgray.png
world.json

# jupyter notebook files
**/.ipynb_checkpoints
**/*-checkpoints.ipynb

